{% extends 'layout.html' %}

{% block body %}

{% include 'navbar1.html' %}
{% include 'navbar2.html' %}
<div class="container-fluid m-3 p-3">
{%  with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="row">
         <div class="alert alert-info">
                <div class="col-6">
                    {% for message in messages %}
                    <p> {{ message }}</p>
                    {% endfor %}
                </div>
                <div class="col-3">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
        </div>
    </div>
    {% endif %}
{% endwith %}

{% block content %}
    {% if session['user'] %}
        <h1> Welcome {{ session['user'] }}</h1>
    {% else %}
        <h1> Welcome to the Grocery Store</h1>
    {% endif %}
    <p> Sponsored by HomeCentre</p>
{% endblock content %}
</div>
{% endblock body %}