{% extends 'layout_navbar.html' %}

{% block title %} View Ad-Request {% endblock title %}

{% block content %}
    {%if ad_requests|length > 0 %}
        <table class="table table-striped table-hover" style="width:100%">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Sponsor Assignor</th>
                <th scope="col">Target</th>
                <th scope="col">Payment Assured</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th scope="col">Status</th>
                <th scope="col">Requirement</th>
                <th scope="col">Accept</th>
                <th scope="col">Reject</th>
            </tr>
        {%for ad_request in ad_requests %}
        
        <!-- <div class="align-center">
            <div class="container-fluid m-4 p-5 col-8 align-center" style="border: thin solid black"> -->
            <tr>
                <th scope="row">{{ ad_request.ad_name }}</th>
                <td>{{ ad_request.description }}</td>
                <td>{{ sponsor.sponsor_id }}</td>
                <td>{{ ad_request.target_reach }}</td>  
                <td>{{ ad_request.payment_amount }}</td>   
                <td>{{ ad_request.start_date }}</td>
                <td>{{ ad_request.end_date }}</td>
                <td>{{ ad_request.status }}</td>
                <td>{{ ad_request.requirement }}</td> 
                <td><a href={{url_for('accept_ad_request', id=ad_request.id)}} class="btn btn-primary"> Accept </a></td>
                <td><a href={{url_for('reject_ad_request', id=ad_request.id)}} class="btn btn-primary"> Reject </a></td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <div class="container-fluid m-4 p-5 align-center">
            <h3> NO AVAILABLE ITEMS </h3>
        </div>
    {% endif %}
    <div class="row align-center">
        <a href={{url_for('go_back')}} class="btn btn-primary col-3 align-center"> Return </a>
    </div>
{% endblock content %}